# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy import stats

## Read List of Random World Cities Generated in Weatherpy

In [2]:
# This is the list of world cities from the North and South Hemisphere randomly selected from a master list
# of over 20,000 cities around the world.  Random sampling was done to ensure comparable number of cities from both
# hemispheres were taken.

worldcities_df = pd.read_csv('Resources/all_cities_list.csv')
worldcities_df

,id,city,country,lat,lng,Temperature,Humidity_pct,Cloudiness_pct,Windspeed
0,3223,Nakhodka,Russia,67.7504,77.5200,258.08,80,91,2.40
1,26297,Chernyshevskiy,Russia,63.0128,112.4714,239.35,86,100,1.55
2,19981,Tanaina,United States,61.6560,-149.4272,264.23,79,90,0.47
3,13276,Riihimäki,Finland,60.7333,24.7667,259.58,85,0,2.57
4,2244,Bergen,Norway,60.3925,5.3233,267.39,80,75,1.54
...,...,...,...,...,...,...,...,...,...
616,23923,Lincoln,New Zealand,-43.6400,172.4860,269.92,54,1,9.77
617,3858,Dunedin,New Zealand,-45.8667,170.5000,285.37,69,26,9.83
618,7377,Mosgiel,New Zealand,-45.8750,170.3480,285.37,69,40,9.83
619,20530,Glencoe,New Zealand,-46.1920,168.6460,290.37,96,100,1.22
620,15819,Puerto Natales,Chile,-51.7263,-72.5062,295.15,35,20,11.83

## Saving the dataframe to html

In [4]:
worldcities_df.to_html("worldcities.html")